.carouselView {
margin-top: 100px;
position: fixed;
}

.left{
    display: block;
    float:left;
    width: 400px;
    margin-left: 20px;
  }
  
  .right{
    display: block;
    float:right;
    width: 500px;
    /* background-color: khaki; */
    margin-left: 100px;
    }

  .carousel {
      height: 450px;
  }

  .vertical-line{
    display: inline-block;
    border-left: 2px solid #ccc;
    margin: 0 50px;
    height: 650px;
}
  