.navbar {
    /* overflow: hidden; */
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
  }
  /* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
  }

  .navbar p {
    color: #ddd;
    margin-left: 8px;
    font-size: large;
  }

  .navbar button {
    float: right;
    margin-top: 8px;
    width: 90px;
    height: 40px;
    color: white;
    background-color: #333;
    font-size: medium;
    border: none;
    cursor: pointer;
  }

  .search-container button {
    float: right;
    margin-top: 8px;
    /* margin-right: 8px; */
    width: 35px;
    background: #ddd;
    border: none;
    cursor: pointer;
    background-color: #333;
  }

  .navbar input[type=text] {
    padding: 6px;
    margin-top: 12px;
    font-size: 17px;
    border: none;
    float: right;
  }

  .navbar img {
    float: right;
    padding: 10px;
    width: 50px;
    height: 40px;
    cursor: pointer;
  }

  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  